@CHARSET "UTF-8";

.formtable {
	padding: 10px;
	border: 1px solid blue;
}

.offers {
	padding: 20px;
	border: 1px solid grey;
}

input[type="text"] {
	width: 250px;
}

input[type="password"] {
	width: 250px;
}

textarea {
	width: 250px;
	height: 400px;
}

.label {
	text-align: right;
	vertical-align: top;
}

.error{
	font-size: small;
	color: red;
	margin-left: 10px;
}

.valid{
	font-size: small;
	color: green;
	margin-left: 10px;
}

p.error{
	color: red;
	margin-left: 10px;
}